

<h2>Step 1</h2>

<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <p>背景画像選択</p>
    <label><%= form.radio_button :kind, "fire" %><%= image_tag 'fire.png', width: '100' %></label>
    <label><%= form.radio_button :kind, "balloon" %><%= image_tag 'balloon.png', width: '100' %></label>
    <label><%= form.radio_button :kind, "cat" %><%= image_tag 'cat.png', width: '100' %></label>
    <label><%= form.radio_button :kind, "happy" %><%= image_tag 'happy.png', width: '100' %></label>
    <label><%= form.radio_button :kind, "lion" %><%= image_tag 'lion.png', width: '100' %></label>
    <label><%= form.radio_button :kind, "love" %><%= image_tag 'love.png', width: '100' %></label>
    <label><%= form.radio_button :kind, "muscle" %><%= image_tag 'muscle.png', width: '100' %></label>
    <label><%= form.radio_button :kind, "old" %><%= image_tag 'old.png', width: '100' %></label>
    <label><%= form.radio_button :kind, "people" %><%= image_tag 'people.png', width: '100' %></label>
    <label><%= form.radio_button :kind, "shock" %><%= image_tag 'shock.png', width: '100' %></label>
    <label><%= form.radio_button :kind, "star" %><%= image_tag 'star.png', width: '100' %></label>
    <label><%= form.radio_button :kind, "sunset" %><%= image_tag 'sunset.png', width: '100' %></label>
    <label><%= form.radio_button :kind, "thunder" %><%= image_tag 'thunder.png', width: '100' %></label>
    <label><%= form.radio_button :kind, "fuck" %><%= image_tag 'fuck.png', width: '100' %></label>
    <label><%= form.radio_button :kind, "panic" %><%= image_tag 'panic.jpg', width: '100' %></label>
    <label><%= form.radio_button :kind, "joy1" %><%= image_tag 'joy1.jpg', width: '100' %></label>
    <label><%= form.radio_button :kind, "joy2" %><%= image_tag 'joy2.jpg', width: '100' %></label>
    <label><%= form.radio_button :kind, "joy3" %><%= image_tag 'joy3.jpg', width: '100' %></label>
    <label><%= form.radio_button :kind, "joy4" %><%= image_tag 'joy4.jpg', width: '100' %></label>
    <label><%= form.radio_button :kind, "wow" %><%= image_tag 'wow.jpg', width: '100' %></label>
    <label><%= form.radio_button :kind, "cow" %><%= image_tag 'cow.jpg', width: '100' %></label>
    <label><%= form.radio_button :kind, "think" %><%= image_tag 'think.jpg', width: '100' %></label>
    <label><%= form.radio_button :kind, "black" %><%= image_tag 'black.jpg', width: '100' %></label>
    <label><%= form.radio_button :kind, "brown" %><%= image_tag 'brown.jpg', width: '100' %></label>
    <label><%= form.radio_button :kind, "darkblue" %><%= image_tag 'darkblue.jpg', width: '100' %></label>
    <label><%= form.radio_button :kind, "lightgreen" %><%= image_tag 'lightgreen.jpg', width: '100' %></label>
    <label><%= form.radio_button :kind, "pink" %><%= image_tag 'pink.jpg', width: '100' %></label>
    <label><%= form.radio_button :kind, "purple" %><%= image_tag 'purple.jpg', width: '100' %></label>
    <label><%= form.radio_button :kind, "red" %><%= image_tag 'red.jpg', width: '100' %></label>
    <label><%= form.radio_button :kind, "skyblue" %><%= image_tag 'skyblue.jpg', width: '100' %></label>
    <label><%= form.radio_button :kind, "white" %><%= image_tag 'white.jpg', width: '100' %></label>
    <label><%= form.radio_button :kind, "yellow" %><%= image_tag 'yellow.jpg', width: '100' %></label>
  </div>

  <div>
    <h2>Step 2</h2>
  </div>


  <div class="form-group">
    <%= form.label :power %>
    <%= form.text_area :power, id: 'power', class:'form-control', rows:"3" %>
    <small class="text-muted">改行は半角スペースに変換されます</small>
    <% if @post.power.present? %>
      <% number = @post.power.length %>
    <% else %>
      <% number = 0 %>
    <% end %>
    <p id="power_check"><%= number %>文字 / max 90文字</p>
  </div>

  <div class="actions">
    <%= form.submit "画像を確認する（まだツイートされません）", id: 'submit', class:"square_btn" %>
  </div>
<% end %>
